<div class="card my-3" style="width: 18rem;">
  <img src="https://yourfilmposter.com/cdn/shop/files/theboss_1008x.jpg?v=1693234186" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text"><strong><%= movie.title %></strong></p>
    <p class="card-text"><%= movie.genre %></p>
  </div>
</div>
