<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= booking.show_id %>
  </p>

  <p>
    <strong>Seat number:</strong>
    <%= booking.seat_number %>
  </p>

</div>
