<p style="color: green"><%= notice %></p>

<h1>Shows</h1>

<div id="shows">
  <% if @shows.present? %>
    <% @shows.each do |show| %>
      <%= render show %>
    <% end %>
  <% else %>
    <h3>No Show Found!</h3>
  <% end %>
</div>
